// ===============
// colors palette
// ===============

/* Variable collection */
:root {
  --black: #232328;
  --blue: #334beb;
  --blue-bg: rgba(51, 75, 235, 0.1);
  --blue-light: #cdd2f3;
  --gray-border: #e4e7ec;
  --gray-text: #5a5a5a;
  --white: #ffffff;
  --yellow: #ffee2e;
  --white: #fff;
  --gray-bg: #f9f9f9;
  --footer-white: #e7e7e7;
}
