// Базові стилі спойлерів
// Сніппет (HTML): spoller

// Блок зі спойлерами
.faq__wrap {
  display: grid;
  width: 100%;
}
// Спойлер
.faq__item {
  padding: toRem(24) 0;

  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
  }
  &:not(:last-child) {
    border-bottom: 1px solid var(--gray-border);
  }
}
// Заголовок спойлера
.faq__name {
  width: 100%;
  cursor: pointer;
  text-align: left;
  flex-grow: 1;
  gap: 24px;
  position: relative;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &::marker,
  &::-webkit-details-marker {
    display: none;
  }
  &._spoller-active {
    .faq__icon {
      border: 2px solid var(--blue);
      &::before,
      &::after {
        background-color: var(--blue);
      }

      &::before {
        transform: translate(-50%, -50%) rotate(0deg);
      }
      &::after {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }
}
.faq__icon {
  width: 20px;
  height: 20px;
  border: 2px solid var(--black);
  background: transparent;
  border-radius: 50%;
  position: relative;
  flex-shrink: 0;
  ._spoller-init & {
    cursor: pointer;
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      background-color: var(--black);
      height: 2px;
      width: 8px;
      transition: transform 0.5s ease 0s;
    }
    &::before {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }
}
.faq__body {
  color: #475467;
  padding-right: toRem(48);
  margin-top: toRem(8);
}
