//====================================================================================================
.hero {
  height: calc(100dvh - 76px);
  display: flex;
  align-items: center;
  // .hero__container
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // .hero__background
  &__background {
    position: relative;
    .header {
      background: transparent;
      color: var(--white);
    }
  }
  // .hero__background-img
  &__background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    object-position: center;
  }
  // .hero__title
  &__title {
    max-width: toRem(660);
    text-align: center;
    color: var(--white);
  }
  // .hero__text
  &__text {
    text-align: center;
    color: var(--white);
    margin-top: toRem(24);
    max-width: toRem(468);
  }
  // .hero__button
  &__button {
    margin-top: toRem(40);
  }
}

//====================================================================================================

.about {
  padding: toRem(72) 0;
  @media (max-width: $mobile) {
    padding: toRem(40) 0;
  }
  // .about__container
  &__container {
  }
  // .about__tag
  &__tag {
  }
  // .about__title
  &__title {
    margin-top: toRem(40);
    margin-bottom: toRem(40);
    @media (max-width: $mobile) {
      margin-top: toRem(24);
      margin-bottom: toRem(24);
    }
  }
  // .about__text
  &__text {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 580px));
    justify-content: space-between;
    row-gap: 20px;
    column-gap: 20px;
    @media (max-width: $mobile) {
      row-gap: 16px;
      grid-template-columns: 1fr;
    }
  }
}

//========================================================================================================================================================

.tipsters {
  background: var(--gray-bg);
  padding: toRem(72) 0;
  @media (max-width: $mobile) {
    padding: toRem(40) 0;
  }
  // .tipsters__container
  &__container {
  }
  &__title {
    max-width: toRem(542);
    text-align: center;
    margin: 0 auto toRem(60);
    @media (max-width: $mobile) {
      margin: 0 0 toRem(24);
    }
  }
  // .tipsters__wrap
  &__wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    @media (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $mobile) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  // .tipsters__card
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // .tipsters__pts
  &__pts {
    border-radius: 12px 12px 0px 0px;
    background: var(--black);
    width: 270px;
    width: 72%;
    padding: toRem(10);
    color: var(--white);
    font-size: toRem(20);
    font-weight: 500;
    line-height: 140%;
    text-transform: capitalize;
    text-align: center;
    @media (max-width: $mobile) {
      font-size: toRem(16);
    }
  }
  // .tipsters__info
  &__info {
    background: var(--white);
    width: 100%;
    border-radius: 12px;
    border: 1px solid var(--gray-border);
    box-shadow: 0px 24px 38px -12px rgba(16, 24, 40, 0.05);
    padding: toRem(40);
    @media (max-width: $pc) {
      padding: toRem(24);
    }
  }
  // .tipsters__header
  &__header {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  // .tipsters__author
  &__author {
    width: toRem(60);
    height: toRem(60);
    flex-shrink: 0;
    border-radius: 50%;
  }
  // .tipsters__header-text
  &__header-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  // .tipsters__header-title
  &__header-title {
  }
  // .tipsters__header-subtitle
  &__header-subtitle {
    font-size: toRem(16);
    font-weight: 500;
    line-height: 140%;
    text-transform: uppercase;
    color: var(--gray-text);
    @media (max-width: $mobile) {
      font-size: toRem(12);
    }
  }
  // .tipsters__list
  &__list {
    margin-top: toRem(24);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    li {
      &:first-child {
        border-right: 1px solid var(--gray-border);
        padding-right: toRem(24);
      }
    }
  }
  // .tipsters__list-numbers
  &__list-numbers {
    font-size: toRem(24);
    font-weight: 700;
    line-height: 140%;
    @media (max-width: $mobile) {
      font-size: toRem(20);
    }
  }
  // .tipsters__list-text
  &__list-text {
    margin-top: toRem(8);
    font-size: toRem(20);
    font-weight: 500;
    line-height: 140%;
    text-transform: uppercase;
    @media (max-width: $mobile) {
      margin-top: toRem(4);
      font-size: toRem(16);
    }
  }
  // .tipsters__button
  &__button {
    margin-top: toRem(24);
    width: 100%;
  }
  // .tipsters__pagination
  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: toRem(72);
    @media (max-width: $tablet) {
      margin-top: toRem(40);
    }
    @media (max-width: $mobile) {
      margin-top: toRem(24);
      gap: 2px;
    }
    li {
      width: 40px;
      height: 40px;
      font-size: 24px;
      font-weight: 500;
      line-height: 140%;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: $mobile) {
        font-size: toRem(14);
      }
    }
  }
  // .tipsters__pagination-button
  &__pagination-button {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    border-radius: 50%;
    @media (any-hover: hover) {
      &:hover {
        border: 1px solid var(--blue);
      }
    }
  }
  // .tipsters__pagination-active
  &__pagination-active {
    border-radius: 50%;
    border: 1px solid var(--blue);
    background: var(--blue-bg);
  }
}

//========================================================================================================================================================

.founder {
  background: var(--gray-bg);
  padding: toRem(40) 0;
  position: relative;
  @media (max-width: $mobile) {
    padding: toRem(24) 0;
  }
  // .founder__container
  &__container {
    display: grid;
    grid-template-columns: minmax(360px, 657px) minmax(260px, 380px);

    gap: 70px;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $tablet) {
      gap: 60px;
    }
    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
      justify-content: center;
      justify-items: center;
      overflow: hidden;
      gap: 36px;
    }
  }
  // .founder__left
  &__left {
  }
  // .founder__tag
  &__tag {
  }
  // .founder__title
  &__title {
    margin-top: toRem(24);
  }
  // .founder__text
  &__text {
    margin-top: toRem(40);
    font-weight: 300;
    font-size: toRem(24);
    line-height: 140%;
    @media (max-width: $tablet) {
      font-size: toRem(20);
      margin-top: toRem(24);
    }
  }
  // .founder__right
  &__right {
    width: toRem(730);
    height: toRem(730);
    position: relative;
    @media (max-width: $tablet) {
      width: toRem(650);
      height: toRem(650);
    }
    @media (max-width: $mobile) {
      width: 100%;
      height: toRem(250);
    }
    @media (max-width: $mobileSmall) {
      height: toRem(135);
      width: 100%;
    }
  }

  // .founder__circle
  &__circle {
    border: 1px solid var(--black);
    border-radius: 50%;
    aspect-ratio: 1/1;
  }
  // .founder__circle-outer
  &__circle-outer {
    width: 100%;
    height: auto;
  }
  // .founder__circle-middle
  &__circle-middle {
    width: 80%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: $mobile) {
      top: 50px;
      transform: translate(-50%, 0);
    }
    @media (max-width: $mobileSmall) {
      top: 35px;
    }
  }
  // .founder__circle-inner
  &__circle-inner {
    width: 60%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: $mobile) {
      top: 100px;
      transform: translate(-50%, 0);
    }
    @media (max-width: $mobileSmall) {
      top: 65px;
    }
  }
  // .founder__circle-info
  &__circle-info {
    position: absolute;
    width: toRem(160);
    height: toRem(160);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background: radial-gradient(
        50% 50% at 50% 50%,
        var(--gray-bg) 0%,
        var(--gray-bg) 100%
      );
      filter: blur(12px);
      z-index: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
    @media (max-width: $tablet) {
      width: toRem(140);
      height: toRem(140);
    }
    @media (max-width: $mobile) {
      width: toRem(100);
      height: toRem(100);
      &::before {
        filter: blur(6px);
      }
    }
    @media (max-width: $mobileSmall) {
      width: toRem(72);
      height: toRem(72);
    }
    &-1 {
      left: 160px;
      top: -22px;
      @media (max-width: $tablet) {
        left: 140px;
        top: -20px;
      }
      @media (max-width: $mobile) {
        left: unset;
        right: 0%;
        top: 58%;
      }
    }
    &-2 {
      left: 35px;
      top: 85px;
      @media (max-width: $tablet) {
        left: 15px;
        top: 90px;
      }
      @media (max-width: $mobile) {
        left: unset;
        right: 20%;
        top: 10%;
      }
    }
    &-3 {
      left: 80px;
      top: 250px;
      @media (max-width: $tablet) {
        left: 60px;
        top: 250px;
      }
      @media (max-width: $mobile) {
        left: unset;
        right: 40%;
        top: 34%;
      }
    }
    &-4 {
      left: 0;
      top: 295px;
      transform: translateX(-50%);
      @media (max-width: $mobile) {
        transform: translateX(0);
        left: unset;
        right: 50%;
        top: -15%;
      }
    }
    &-5 {
      left: 20px;
      top: 460px;
      @media (max-width: $tablet) {
        left: 20px;
        top: 410px;
      }
      @media (max-width: $mobile) {
        left: unset;
        right: 70%;
        top: 10%;
      }
    }
    &-6 {
      left: 160px;
      top: 520px;
      @media (max-width: $tablet) {
        left: 140px;
        top: 450px;
      }
      @media (max-width: $mobile) {
        left: unset;
        right: 80%;
        top: 50%;
      }
    }
  }
  // .founder__circle-dot
  &__circle-dot {
    width: toRem(20);
    height: toRem(20);
    background: var(--blue);
    border: 4px solid var(--blue-light);
    border-radius: 50%;
    margin-bottom: toRem(12);
    position: relative;
    z-index: 2;
    @media (max-width: $tablet) {
      margin-bottom: 8px;
    }
    @media (max-width: $mobile) {
      width: toRem(9);
      height: toRem(9);
      border: 2px solid var(--blue-light);
      margin-bottom: toRem(4);
    }
  }
  // .founder__circle-number
  &__circle-number {
    font-size: toRem(40);
    font-weight: 700;
    line-height: 140%;
    margin-bottom: toRem(8);
    position: relative;
    z-index: 2;
    @media (max-width: $tablet) {
      font-size: toRem(24);
    }
    @media (max-width: $mobile) {
      font-size: toRem(18);
      margin-bottom: toRem(4);
    }
  }
  // .founder__circle-text
  &__circle-text {
    position: relative;
    z-index: 2;
    @media (max-width: $tablet) {
      font-size: toRem(18);
    }
    @media (max-width: $mobile) {
      font-size: toRem(12);
    }
    @media (max-width: $mobileSmall) {
      font-size: toRem(9);
    }
  }
}
//========================================================================================================================================================

.newsletter {
  padding: toRem(72) 0;
  @media (max-width: $mobile) {
    padding: toRem(40) 0;
  }
  // .newsletter__container
  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  // .newsletter__title
  &__title {
    text-align: center;
  }
  // .newsletter__text
  &__text {
    margin-top: toRem(16);
    max-width: toRem(432);
    text-align: center;
  }
  // .newsletter__form
  &__form {
    margin-top: toRem(40);
    display: flex;
    gap: 16px;
    align-items: flex-end;
    max-width: toRem(508);
    width: 100%;
    @media (max-width: $mobile) {
      margin-top: toRem(24);
    }
    @media (max-width: $mobileSmall) {
      flex-direction: column;
      align-items: center;
    }
  }
  // .newsletter__item
  &__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-grow: 1;
    @media (max-width: $mobileSmall) {
      width: 100%;
    }
    label {
      color: var(--gray-text);
      font-size: toRem(16);
      line-height: 140%;
    }
    input {
      border-radius: 8px;
      border: 1px solid rgba(0, 0, 0, 0.6);
      padding: toRem(10) toRem(14);
      font-size: toRem(14);
      transition: all 0.3s;
      line-height: 140%;
      &:focus,
      &:not(:placeholder-shown) {
        outline: none;
        border: 1px solid var(--blue);
      }

      &::placeholder {
        color: rgba(90, 90, 90, 0.3);
        font-weight: 300;
      }
    }
  }
  // .newsletter__button
  &__button {
    padding: toRem(9) toRem(24);
    font-size: toRem(16);
    flex-shrink: 0;
    @media (max-width: $mobileSmall) {
      width: 100%;
    }
  }
}
//========================================================================================================================================================

.tipster-hero {
  background: var(--white);
  padding: toRem(72) 0 toRem(40);
  margin-top: toRem(160);
  @media (max-width: $mobile) {
    margin-top: toRem(80);
    padding: toRem(24) 0;
  }
  &__bg {
    img {
      object-fit: cover;
      object-position: 50% 92%;
      width: 100%;
      height: 100%;
      aspect-ratio: 1366 / 240;
      @media (max-width: $mobile) {
        aspect-ratio: 390 / 175;
        object-position: center;
        height: auto;
      }
    }
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 100%
      );
      z-index: 1;
    }
  }
  // .tipster-hero__container
  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    position: relative;
  }
  // .tipster-hero__img
  &__img {
    width: toRem(160);
    height: toRem(160);
    border-radius: 50%;
    border: 4px solid var(--white);
    box-shadow:
      0px 12px 16px -4px rgba(16, 24, 40, 0.08),
      0px 4px 6px -2px rgba(16, 24, 40, 0.03);
    margin-top: toRem(-150);
    margin-bottom: toRem(40);

    @media (max-width: $mobile) {
      width: toRem(100);
      height: toRem(100);
      margin-top: toRem(-70);
      margin-bottom: toRem(24);
    }
  }
  // .tipster-hero__subtitle
  &__subtitle {
  }
  // .tipster-hero__title
  &__title {
    margin-top: toRem(4);
    text-align: center;
  }
  &__text {
    max-width: toRem(806);
    text-align: center;
    margin-top: toRem(20);
  }
  // .tipster-hero__button
  &__button {
    margin-top: toRem(20);
    @media (max-width: $mobile) {
      font-size: toRem(16);
    }
  }
}

//========================================================================================================================================================

.stats {
  border-bottom: 1px solid var(--gray-border);
  border-top: 1px solid var(--gray-border);
  padding: toRem(72) 0;
  @media (max-width: $mobile) {
    padding: toRem(40) 0;
  }
  // .stats__container
  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    @media (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $mobile) {
      grid-template-columns: repeat(1, 1fr);
      gap: 16px;
    }
  }
  // .stats__card
  &__card {
    &:not(:last-child) {
      padding-right: 24px;
      border-right: 1px solid var(--gray-border);
      @media (max-width: $tablet) {
        padding-right: 0;
        border-right: none;
      }
      @media (max-width: $mobile) {
        border-bottom: 1px solid var(--gray-border);
        padding-bottom: toRem(16);
      }
    }
  }

  // .stats__info
  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  // .stats__header
  &__header {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
  }
  // .stats__pts
  &__pts {
    @media (max-width: $mobile) {
      font-size: toRem(35);
      line-height: 140%;
    }
  }
  // .stats__tip
  &__tip {
  }
  // .stats__text
  &__text {
  }
}

//========================================================================================================================================================

.tipster-about {
  background: var(--gray-bg);
  padding: toRem(72) 0;
  @media (max-width: $mobile) {
    padding: toRem(40) 0;
  }
  // .tipster-about__container
  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  // .tipster-about__title
  &__title {
    text-align: center;
    @media (max-width: $mobile) {
      text-align: left;
      width: 100%;
    }
  }
  // .tipster-about__desc
  &__desc {
    margin-top: toRem(24);
    text-align: center;
    max-width: toRem(806);
    @media (max-width: $mobile) {
      text-align: left;
    }
  }
  // .tipster-about__wrap
  &__wrap {
    margin-top: toRem(72);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    @media (max-width: $tablet) {
      margin-top: toRem(40);
    }
    @media (max-width: $mobile) {
      grid-template-columns: repeat(1, 1fr);
      margin-top: toRem(24);
    }
  }
  // .tipster-about__card
  &__card {
    border-radius: 12px;
    background: #fff;
    border: 1px solid var(--gray-border);
    padding: toRem(40);
    @media (max-width: $tablet) {
      padding: toRem(24);
    }
  }
  // .tipster-about__icon
  &__icon {
    width: toRem(58);
    height: toRem(58);
    border-radius: 50%;
    border: 1px solid var(--blue);
    background: var(--blue-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: toRem(24);
    img {
      width: toRem(26);
      height: toRem(26);
    }
  }
  // .tipster-about__card-title
  &__card-title {
  }
  // .tipster-about__card-text
  &__card-text {
    margin-top: toRem(8);
  }
  // .tipster-about__h2-title
  &__h2-title {
  }
  // .tipster-about__h4-title
  &__h4-title {
    margin-top: toRem(8);
  }
}

//========================================================================================================================================================

.resent-winners {
  padding: toRem(72) 0;
  @media (max-width: $mobile) {
    padding: toRem(40) 0;
  }
  // .resent-winners__container
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
    @media (max-width: $tablet) {
      gap: 40px;
      align-items: flex-start;
    }
    @media (max-width: $mobile) {
      gap: 24px;
    }
  }
  // .resent-winners__title
  &__title {
    text-align: center;
    @media (max-width: $tablet) {
      text-align: left;
    }
  }
  // .resent-winners__table
  &__table {
    width: 100%;
    display: flex;
    gap: 24px;
    flex-direction: column;
    font-size: toRem(24);
    font-weight: 300;
    line-height: 140%;
    @media (max-width: $tablet) {
      font-size: toRem(16);
    }
  }
  // .resent-winners__row
  &__row {
    display: grid;

    grid-template-columns:
      minmax(130px, 200px) minmax(270px, 350px) minmax(220px, 290px)
      repeat(2, minmax(70px, 100px));
    justify-content: space-between;
    gap: 40px;
    @media (max-width: $tablet) {
      grid-template-columns: minmax(190px, 300px) repeat(2, minmax(40px, 120px));
      // grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      row-gap: 8px;
      column-gap: 24px;
      &:first-child {
        display: none;
      }
    }
  }
  // .resent-winners__cell
  &__cell {
    @media (max-width: $tablet) {
      &-date {
        grid-area: 1 / 2 / 2 / 4;
        color: var(--gray-text);
        font-size: toRem(12);
        font-weight: 500;
        line-height: 140%;
        text-align: right;
      }
      &-match {
        grid-area: 1 / 1 / 2 / 2;
        font-size: toRem(16);
        font-weight: 500;
        line-height: 140%;
      }
      &-prediction {
        grid-area: 2 / 1 / 3 / 2;
      }
      &-odds {
        grid-area: 2 / 2 / 3 / 3;
        text-align: right;
      }
      &-result {
        grid-area: 2 / 3 / 3 / 4;
        text-align: right;
      }
    }
  }
  // .resent-winners__cell-green
  &__cell-green {
    color: var(--green);
  }
  // .resent-winners__cell-red
  &__cell-red {
    color: var(--red);
  }
  // .resent-winners__button
  &__button {
  }
}

//========================================================================================================================================================

.profit {
  background: var(--gray-bg);
  padding: toRem(72) 0;
  @media (max-width: $mobile) {
    padding: toRem(40) 0;
  }
  // .profit__container
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: $mobile) {
      align-items: flex-start;
    }
  }
  // .profit__title
  &__title {
    text-align: center;
    width: 100%;
    @media (max-width: $mobile) {
      text-align: left;
    }
  }
  // .profit__subtitle
  &__subtitle {
    max-width: toRem(374);
    text-align: center;
    margin-top: toRem(24);
    @media (max-width: $mobile) {
      text-align: left;
      max-width: toRem(214);
    }
  }
  // .profit__cards
  &__cards {
    margin-top: toRem(72);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    width: 100%;
    @media (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
      margin-top: toRem(40);
    }
    @media (max-width: $mobile) {
      gap: 16px;
      margin-top: toRem(24);
    }
    .tipster-about__card {
      @media (max-width: $mobile) {
        padding: toRem(16);
      }
      .tipster-about__icon {
        margin-bottom: toRem(16);
      }
    }
  }
  &__graph {
    margin-top: toRem(72);
    background: var(--white);
    border-radius: 12px;
    border: 1px solid var(--white);
    padding: toRem(24);
    width: 100%;
    @media (max-width: $tablet) {
      margin-top: toRem(40);
    }
    @media (max-width: $mobile) {
      margin-top: toRem(24);
    }
  }
  &__graph-title {
  }
  &__graph-chart {
    margin-top: toRem(24);
    width: 100%;
    max-height: 252px;
  }
  &__buttons {
    display: flex;
    align-self: center;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin-top: toRem(72);
    width: 100%;
    @media (max-width: $tablet) {
      margin-top: toRem(40);
      gap: 16px;
    }
    @media (max-width: $mobile) {
      margin-top: toRem(24);
      gap: 8px;
    }
  }
}
//========================================================================================================================================================

.pricing {
  padding: toRem(72) 0;
  @media (max-width: $mobile) {
    padding: toRem(40) 0;
  }
  // .pricing__container
  &__container {
  }
  // .pricing__title
  &__title {
    text-align: center;
    @media (max-width: $mobile) {
      text-align: left;
    }
  }
  // .pricing__wrap
  &__wrap {
    margin-top: toRem(72);
    display: grid;
    grid-template-columns: repeat(2, minmax(280px, 600px));
    align-items: end;
    gap: 32px;
    width: 100%;
    @media (max-width: $tablet) {
      margin-top: toRem(40);
      gap: 16px;
      overflow-x: auto;
    }
    @media (max-width: $mobile) {
      margin-top: toRem(24);
      gap: 8px;
    }
  }
  // .pricing__card
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: $mobile) {
      &:first-child {
        order: 2;
      }
      &:last-child {
        order: 1;
      }
    }
  }
  // .pricing__info
  &__info {
    border-radius: 16px;
    border: 1px solid var(--gray-border);
    width: 100%;
    padding: toRem(32);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @media (max-width: $tablet) {
      padding: toRem(24);
    }
  }
  // .pricing__card-title
  &__card-title {
  }
  // .pricing__card-price
  &__card-price {
    padding: toRem(16) 0;
    display: flex;
    align-items: center;
    gap: 16px;
  }
  // .pricing__card-number
  &__card-number {
  }
  // .pricing__card-desc
  &__card-desc {
    font-size: toRem(24);
    line-height: 140%;
    color: #475467;
    font-weight: 300;
    max-width: toRem(347);
    @media (max-width: $mobile) {
      font-size: toRem(14);
    }
  }
  // .pricing__card-button
  &__card-button {
    margin-top: toRem(40);
    width: 100%;
  }
  // .pricing__tag
  &__tag {
    background: var(--blue);
    border-radius: 12px 12px 0px 0px;
    text-align: center;
    color: var(--white);
    padding: toRem(10);
    width: 45%;
    @media (max-width: $mobile) {
      width: 70%;
    }
  }
  // .pricing__card-bage
  &__card-bage {
    padding: toRem(12);
    border-radius: 8px;
  }
}

//========================================================================================================================================================

.faq {
  padding: toRem(72) 0;
  @media (max-width: $mobile) {
    padding: toRem(40) 0;
  }
  // .faq__container
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // .faq__title
  &__title {
    max-width: toRem(768);
  }
  // .faq__wrap
  &__wrap {
    max-width: toRem(768);
    margin-top: toRem(72);
    @media (max-width: $tablet) {
      margin-top: toRem(40);
    }
    @media (max-width: $mobile) {
      margin-top: toRem(24);
    }
  }
  // .faq__item
  &__item {
  }
  // .faq__name
  &__name {
  }
  // .faq__body
  &__body {
  }
}

//========================================================================================================================================================

.terms {
  padding: toRem(72) 0;
  @media (max-width: $mobile) {
    padding: toRem(24) 0;
  }
  // .terms__container
  &__container {
  }
  &__title {
    max-width: toRem(806);
  }
  &__text {
    margin-top: toRem(40);
    max-width: toRem(806);
    @media (max-width: $mobile) {
      margin-top: toRem(24);
    }
    p {
      &:not(:last-child) {
        margin-bottom: toRem(40);
        @media (max-width: $mobile) {
          margin-bottom: toRem(16);
        }
      }
      a {
        text-decoration: underline;
      }
    }
  }
}

//========================================================================================================================================================

.login {
  padding: toRem(96) 0;
  min-height: 60svh;
  @media (max-width: $mobile) {
    padding: toRem(24) 0 toRem(40);
  }
  // .login__container
  &__container {
  }
  // .login__wrap
  &__wrap {
    max-width: toRem(360);
    width: 100%;
    margin: 0 auto;
  }
  // .login__title
  &__title {
    text-align: center;
  }
  // .login__subtitle
  &__subtitle {
    margin-top: toRem(12);
    text-align: center;
    color: var(--gray-text);
    font-size: toRem(14);
    margin-bottom: toRem(32);
    @media (max-width: $mobile) {
      margin-bottom: toRem(16);
    }
    a {
      display: block;
      color: var(--blue);
      font-weight: 600;
    }
  }
  // .login__socials
  &__socials {
  }
  // .login__socials-item
  &__socials-item {
    padding: toRem(10) toRem(14);
    border-radius: 8px;
    border: 1px solid var(--black);
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    &:not(:last-child) {
      margin-bottom: toRem(12);
    }
    @media (any-hover: hover) {
      &:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        .login__socials-text {
          color: var(--blue);
        }
      }
    }
  }
  // .login__socials-logo
  &__socials-logo {
    width: toRem(24);
    height: toRem(24);
  }
  // .login__socials-text
  &__socials-text {
    color: var(--gray-text);
    font-size: toRem(16);
    line-height: 140%;
    text-transform: capitalize;
    transition: all 0.3s;
  }
  //========================================================================================================================================================

  // .login__form
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // .login__form-item
  &__form-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    &:not(:first-child) {
      margin-top: toRem(16);
    }

    &-label {
      color: var(--gray-text);
      font-size: toRem(16);
      line-height: 140%;
    }
    &-input {
      padding: toRem(10) toRem(14);
      border-radius: 8px;
      border: 1px solid rgba(0, 0, 0, 0.6);
      background: var(--white);
      outline: none;
      font-size: toRem(14);
      line-height: 140%;
      &::placeholder {
        color: rgba(90, 90, 90, 0.3);
        font-weight: 300;
      }
    }
  }
  // .login__form-item-duo
  &__form-item-duo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  // .login__form-remember
  &__form-remember {
    display: flex;
    align-items: center;
    gap: 8px;
    &-input {
      width: toRem(16);
      height: toRem(16);
      border-radius: 4px;
      cursor: pointer;
      border: 1px solid var(--gray-border);
    }
    &-label {
      color: var(--gray-text);
      font-size: toRem(14);
      font-weight: 300;
      cursor: pointer;
      line-height: 140%;
    }
  }
  // .login__form-forgot
  &__form-forgot {
    font-size: toRem(14);
    color: var(--blue);
    line-height: 140%;
    transition: all 0.3s;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  // .login__form-button
  &__form-button {
    width: 100%;
    padding: toRem(12) toRem(14);
    margin-top: toRem(16);
  }
  // .login__form-bottom
  &__form-bottom {
    margin-top: toRem(32);
    color: var(--gray-text);
    font-size: toRem(14);
    line-height: 140%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 4px;
    @media (max-width: $mobile) {
      margin-top: toRem(16);
    }
  }
  // .login__form-bottom-link
  &__form-bottom-link {
    font-weight: 600;
    color: var(--blue);
    transition: all 0.3s;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__form-item-password {
    position: relative;
    display: flex;
    align-items: center;
    .login__form-item-input {
      padding-right: toRem(32);
    }
  }
  &__form-item-icon {
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M17.9537 9.20419C18.207 9.55944 18.3337 9.7371 18.3337 10C18.3337 10.2629 18.207 10.4406 17.9537 10.7959C16.8152 12.3922 13.908 15.8334 10.0003 15.8334C6.09264 15.8334 3.18541 12.3922 2.04703 10.7959C1.79367 10.4406 1.66699 10.2629 1.66699 10C1.66699 9.7371 1.79367 9.55944 2.04703 9.20419C3.18541 7.60789 6.09264 4.16669 10.0003 4.16669C13.908 4.16669 16.8152 7.60789 17.9537 9.20419Z' stroke='%23232328' stroke-width='1.5'/%3E%3Cpath d='M12.5 10C12.5 8.61925 11.3807 7.5 10 7.5C8.61925 7.5 7.5 8.61925 7.5 10C7.5 11.3807 8.61925 12.5 10 12.5C11.3807 12.5 12.5 11.3807 12.5 10Z' stroke='%23232328' stroke-width='1.5'/%3E%3C/svg%3E")
      no-repeat center;
    background-size: contain;
    border: none;
    cursor: pointer;
    background-color: transparent;
    &.show-password {
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M18.3337 6.66669C18.3337 6.66669 15.0003 11.6667 10.0003 11.6667C5.00033 11.6667 1.66699 6.66669 1.66699 6.66669' stroke='%23232328' stroke-width='1.25' stroke-linecap='round'/%3E%3Cpath d='M12.5 11.25L13.75 13.3333' stroke='%23232328' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.667 9.16669L18.3337 10.8334' stroke='%23232328' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.66699 10.8334L3.33366 9.16669' stroke='%23232328' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.5 11.25L6.25 13.3333' stroke='%23232328' stroke-width='1.25' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
        no-repeat center;
      background-size: contain;
    }
  }
  //========================================================================================================================================================

  &__form-password-check {
    position: relative;
    padding-left: 30px;
    color: var(--gray-text);
    font-size: toRem(14);
    font-weight: 300;
    line-height: 140%;
    &:not(:last-child) {
      margin-bottom: toRem(12);
    }
  }
  &__form-password-check::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10Z' fill='%23E4E7EC'/%3E%3Cpath d='M6.25 10L8.75 12.5L13.75 7.5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
      no-repeat center;
    background-size: cover;
    transition: all 0.3s;
  }
  &__form-password-check.valid::before {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10Z' fill='%2304da8d'/%3E%3Cpath d='M6.25 10L8.75 12.5L13.75 7.5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
      no-repeat center;
    background-size: cover;
  }
  //========================================================================================================================================================

  &__form-arrow-back {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--gray-text);
    font-size: toRem(14);
    font-weight: 600;
    line-height: 140%;
    margin-top: toRem(32);
    transition: all 0.3s;
    @media (any-hover: hover) {
      &:hover {
        color: var(--blue);
      }
    }
    img {
      width: toRem(14);
    }
  }
}
