//====================================================================================================
.hero {
  height: calc(100dvh - 76px);
  display: flex;
  align-items: center;
  // .hero__container
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // .hero__background
  &__background {
    position: relative;
  }
  // .hero__background
  &__background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    object-position: center;
  }
  // .hero__title
  &__title {
    max-width: toRem(660);
    text-align: center;
    color: var(--white);
  }
  // .hero__text
  &__text {
    text-align: center;
    color: var(--white);
    margin-top: toRem(24);
    max-width: toRem(468);
  }
  // .hero__button
  &__button {
    margin-top: toRem(40);
  }
}

//====================================================================================================

.about {
  padding: toRem(72) 0;
  @media (max-width: $mobile) {
    padding: toRem(40) 0;
  }
  // .about__container
  &__container {
  }
  // .about__tag
  &__tag {
  }
  // .about__title
  &__title {
    margin-top: toRem(40);
    margin-bottom: toRem(40);
    @media (max-width: $mobile) {
      margin-top: toRem(24);
      margin-bottom: toRem(24);
    }
  }
  // .about__text
  &__text {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 580px));
    justify-content: space-between;
    row-gap: 20px;
    column-gap: 20px;
    @media (max-width: $mobile) {
      row-gap: 16px;
      grid-template-columns: 1fr;
    }
  }
}

//========================================================================================================================================================

.tipsters {
  background: var(--gray-bg);
  padding: toRem(72) 0;
  @media (max-width: $mobile) {
    padding: toRem(40) 0;
  }
  // .tipsters__container
  &__container {
  }
  // .tipsters__wrap
  &__wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    @media (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $mobile) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  // .tipsters__card
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // .tipsters__pts
  &__pts {
    border-radius: 12px 12px 0px 0px;
    background: var(--black);
    width: 270px;
    width: 72%;
    padding: toRem(10);
    color: var(--white);
    font-size: toRem(20);
    font-weight: 500;
    line-height: 140%;
    text-transform: capitalize;
    text-align: center;
    @media (max-width: $mobile) {
      font-size: toRem(16);
    }
  }
  // .tipsters__info
  &__info {
    background: var(--white);
    width: 100%;
    border-radius: 12px;
    border: 1px solid var(--gray-border);
    box-shadow: 0px 24px 38px -12px rgba(16, 24, 40, 0.05);
    padding: toRem(40);
    @media (max-width: $pc) {
      padding: toRem(24);
    }
  }
  // .tipsters__header
  &__header {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  // .tipsters__author
  &__author {
    width: toRem(60);
    height: toRem(60);
    flex-shrink: 0;
    border-radius: 50%;
  }
  // .tipsters__header-text
  &__header-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  // .tipsters__header-title
  &__header-title {
  }
  // .tipsters__header-subtitle
  &__header-subtitle {
    font-size: toRem(16);
    font-weight: 500;
    line-height: 140%;
    text-transform: uppercase;
    color: var(--gray-text);
    @media (max-width: $mobile) {
      font-size: toRem(12);
    }
  }
  // .tipsters__list
  &__list {
    margin-top: toRem(24);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    li {
      &:first-child {
        border-right: 1px solid var(--gray-border);
        padding-right: toRem(24);
      }
    }
  }
  // .tipsters__list-numbers
  &__list-numbers {
    font-size: toRem(24);
    font-weight: 700;
    line-height: 140%;
    @media (max-width: $mobile) {
      font-size: toRem(20);
    }
  }
  // .tipsters__list-text
  &__list-text {
    margin-top: toRem(8);
    font-size: toRem(20);
    font-weight: 500;
    line-height: 140%;
    text-transform: uppercase;
    @media (max-width: $mobile) {
      margin-top: toRem(4);
      font-size: toRem(16);
    }
  }
  // .tipsters__button
  &__button {
    margin-top: toRem(24);
    width: 100%;
  }
}

//========================================================================================================================================================

.founder {
  background: var(--gray-bg);
  padding: toRem(40) 0;
  position: relative;
  @media (max-width: $mobile) {
    padding: toRem(24) 0;
  }
  // .founder__container
  &__container {
    display: grid;
    grid-template-columns: minmax(360px, 657px) minmax(260px, 380px);

    gap: 70px;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $tablet) {
      gap: 60px;
    }
    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
      justify-content: center;
      justify-items: center;
      overflow: hidden;
      gap: 36px;
    }
  }
  // .founder__left
  &__left {
  }
  // .founder__tag
  &__tag {
  }
  // .founder__title
  &__title {
    margin-top: toRem(24);
  }
  // .founder__text
  &__text {
    margin-top: toRem(40);
    font-weight: 300;
    font-size: toRem(24);
    line-height: 140%;
    @media (max-width: $tablet) {
      font-size: toRem(20);
      margin-top: toRem(24);
    }
  }
  // .founder__right
  &__right {
    width: toRem(730);
    height: toRem(730);
    position: relative;
    @media (max-width: $tablet) {
      width: toRem(650);
      height: toRem(650);
    }
    @media (max-width: $mobile) {
      width: 100%;
      height: toRem(250);
    }
    @media (max-width: $mobileSmall) {
      height: toRem(135);
      width: 100%;
    }
  }

  // .founder__circle
  &__circle {
    border: 1px solid var(--black);
    border-radius: 50%;
    aspect-ratio: 1/1;
  }
  // .founder__circle-outer
  &__circle-outer {
    width: 100%;
    height: auto;
  }
  // .founder__circle-middle
  &__circle-middle {
    width: 80%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: $mobile) {
      top: 50px;
      transform: translate(-50%, 0);
    }
    @media (max-width: $mobileSmall) {
      top: 35px;
    }
  }
  // .founder__circle-inner
  &__circle-inner {
    width: 60%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: $mobile) {
      top: 100px;
      transform: translate(-50%, 0);
    }
    @media (max-width: $mobileSmall) {
      top: 65px;
    }
  }
  // .founder__circle-info
  &__circle-info {
    position: absolute;
    width: toRem(160);
    height: toRem(160);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background: radial-gradient(
        50% 50% at 50% 50%,
        var(--gray-bg) 0%,
        var(--gray-bg) 100%
      );
      filter: blur(12px);
      z-index: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
    @media (max-width: $tablet) {
      width: toRem(140);
      height: toRem(140);
    }
    @media (max-width: $mobile) {
      width: toRem(100);
      height: toRem(100);
      &::before {
        filter: blur(6px);
      }
    }
    @media (max-width: $mobileSmall) {
      width: toRem(72);
      height: toRem(72);
    }
    &-1 {
      left: 160px;
      top: -22px;
      @media (max-width: $tablet) {
        left: 140px;
        top: -20px;
      }
      @media (max-width: $mobile) {
        left: unset;
        right: 0%;
        top: 58%;
      }
    }
    &-2 {
      left: 35px;
      top: 85px;
      @media (max-width: $tablet) {
        left: 15px;
        top: 90px;
      }
      @media (max-width: $mobile) {
        left: unset;
        right: 20%;
        top: 10%;
      }
    }
    &-3 {
      left: 80px;
      top: 250px;
      @media (max-width: $tablet) {
        left: 60px;
        top: 250px;
      }
      @media (max-width: $mobile) {
        left: unset;
        right: 40%;
        top: 34%;
      }
    }
    &-4 {
      left: 0;
      top: 295px;
      transform: translateX(-50%);
      @media (max-width: $mobile) {
        transform: translateX(0);
        left: unset;
        right: 50%;
        top: -15%;
      }
    }
    &-5 {
      left: 20px;
      top: 460px;
      @media (max-width: $tablet) {
        left: 20px;
        top: 410px;
      }
      @media (max-width: $mobile) {
        left: unset;
        right: 70%;
        top: 10%;
      }
    }
    &-6 {
      left: 160px;
      top: 520px;
      @media (max-width: $tablet) {
        left: 140px;
        top: 450px;
      }
      @media (max-width: $mobile) {
        left: unset;
        right: 80%;
        top: 50%;
      }
    }
  }
  // .founder__circle-dot
  &__circle-dot {
    width: toRem(20);
    height: toRem(20);
    background: var(--blue);
    border: 4px solid var(--blue-light);
    border-radius: 50%;
    margin-bottom: toRem(12);
    position: relative;
    z-index: 2;
    @media (max-width: $tablet) {
      margin-bottom: 8px;
    }
    @media (max-width: $mobile) {
      width: toRem(9);
      height: toRem(9);
      border: 2px solid var(--blue-light);
      margin-bottom: toRem(4);
    }
  }
  // .founder__circle-number
  &__circle-number {
    font-size: toRem(40);
    font-weight: 700;
    line-height: 140%;
    margin-bottom: toRem(8);
    position: relative;
    z-index: 2;
    @media (max-width: $tablet) {
      font-size: toRem(24);
    }
    @media (max-width: $mobile) {
      font-size: toRem(18);
      margin-bottom: toRem(4);
    }
  }
  // .founder__circle-text
  &__circle-text {
    position: relative;
    z-index: 2;
    @media (max-width: $tablet) {
      font-size: toRem(18);
    }
    @media (max-width: $mobile) {
      font-size: toRem(12);
    }
    @media (max-width: $mobileSmall) {
      font-size: toRem(9);
    }
  }
}
//========================================================================================================================================================

.newsletter {
  padding: toRem(72) 0;
  @media (max-width: $mobile) {
    padding: toRem(40) 0;
  }
  // .newsletter__container
  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  // .newsletter__title
  &__title {
    text-align: center;
  }
  // .newsletter__text
  &__text {
    margin-top: toRem(16);
    max-width: toRem(432);
    text-align: center;
  }
  // .newsletter__form
  &__form {
    margin-top: toRem(40);
    display: flex;
    gap: 16px;
    align-items: flex-end;
    max-width: toRem(508);
    width: 100%;
    @media (max-width: $mobile) {
      margin-top: toRem(24);
    }
    @media (max-width: $mobileSmall) {
      flex-direction: column;
      align-items: center;
    }
  }
  // .newsletter__item
  &__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-grow: 1;
    @media (max-width: $mobileSmall) {
      width: 100%;
    }
    label {
      color: var(--gray-text);
      font-size: toRem(16);
      line-height: 140%;
    }
    input {
      border-radius: 8px;
      border: 1px solid rgba(0, 0, 0, 0.6);
      padding: toRem(10) toRem(14);
      font-size: toRem(14);
      transition: all 0.3s;
      line-height: 140%;
      &:focus,
      &:not(:placeholder-shown) {
        outline: none;
        border: 1px solid var(--blue);
      }

      &::placeholder {
        color: rgba(90, 90, 90, 0.3);
        font-weight: 300;
      }
    }
  }
  // .newsletter__button
  &__button {
    padding: toRem(9) toRem(24);
    font-size: toRem(16);
    flex-shrink: 0;
    @media (max-width: $mobileSmall) {
      width: 100%;
    }
  }
}
//========================================================================================================================================================

.tipster-hero {
  background: var(--white);
  padding: toRem(72) 0 toRem(40);
  margin-top: toRem(160);
  @media (max-width: $mobile) {
    margin-top: toRem(80);
    padding: toRem(24) 0;
  }
  &__bg {
    img {
      object-fit: cover;
      object-position: 50% 92%;
      width: 100%;
      height: 100%;
      aspect-ratio: 1366 / 240;
      @media (max-width: $mobile) {
        aspect-ratio: 390 / 175;
        object-position: center;
        height: auto;
      }
    }
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 100%
      );
      z-index: 1;
    }
  }
  // .tipster-hero__container
  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    position: relative;
  }
  // .tipster-hero__img
  &__img {
    width: toRem(160);
    height: toRem(160);
    border-radius: 50%;
    border: 4px solid var(--white);
    box-shadow:
      0px 12px 16px -4px rgba(16, 24, 40, 0.08),
      0px 4px 6px -2px rgba(16, 24, 40, 0.03);
    margin-top: toRem(-150);

    @media (max-width: $mobile) {
      width: toRem(100);
      height: toRem(100);
      margin-top: toRem(-70);
    }
  }
  // .tipster-hero__subtitle
  &__subtitle {
    margin-top: toRem(40);
    @media (max-width: $mobile) {
      margin-top: toRem(24);
    }
  }
  // .tipster-hero__title
  &__title {
    margin-top: toRem(4);
  }
  // .tipster-hero__button
  &__button {
    margin-top: toRem(20);
    @media (max-width: $mobile) {
      font-size: toRem(16);
    }
  }
}

//========================================================================================================================================================

.stats {
  border-bottom: 1px solid var(--gray-border);
  border-top: 1px solid var(--gray-border);
  padding: toRem(72) 0;
  @media (max-width: $mobile) {
    padding: toRem(40) 0;
  }
  // .stats__container
  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    @media (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $mobile) {
      grid-template-columns: repeat(1, 1fr);
      gap: 16px;
    }
  }
  // .stats__card
  &__card {
    &:not(:last-child) {
      padding-right: 24px;
      border-right: 1px solid var(--gray-border);
      @media (max-width: $tablet) {
        padding-right: 0;
        border-right: none;
      }
      @media (max-width: $mobile) {
        border-bottom: 1px solid var(--gray-border);
        padding-bottom: toRem(16);
      }
    }
  }

  // .stats__info
  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  // .stats__header
  &__header {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
  }
  // .stats__pts
  &__pts {
    @media (max-width: $mobile) {
      font-size: toRem(35);
      line-height: 140%;
    }
  }
  // .stats__tip
  &__tip {
  }
  // .stats__text
  &__text {
  }
}

//========================================================================================================================================================

.tipster-about {
  background: var(--gray-bg);
  padding: toRem(72) 0;
  @media (max-width: $mobile) {
    padding: toRem(40) 0;
  }
  // .tipster-about__container
  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  // .tipster-about__title
  &__title {
    text-align: center;
    @media (max-width: $mobile) {
      text-align: left;
      width: 100%;
    }
  }
  // .tipster-about__desc
  &__desc {
    margin-top: toRem(24);
    text-align: center;
    max-width: toRem(806);
    @media (max-width: $mobile) {
      text-align: left;
    }
  }
  // .tipster-about__wrap
  &__wrap {
    margin-top: toRem(72);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    @media (max-width: $mobile) {
      grid-template-columns: repeat(1, 1fr);
      margin-top: toRem(24);
    }
  }
  // .tipster-about__card
  &__card {
    border-radius: 12px;
    background: #fff;
    border: 1px solid var(--gray-border);
    padding: toRem(40);
    @media (max-width: $tablet) {
      padding: toRem(24);
    }
  }
  // .tipster-about__icon
  &__icon {
    width: toRem(58);
    height: toRem(58);
    border-radius: 50%;
    border: 1px solid var(--blue);
    background: var(--blue-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: toRem(24);
    img {
      width: toRem(26);
      height: toRem(26);
    }
  }
  // .tipster-about__card-title
  &__card-title {
  }
  // .tipster-about__card-text
  &__card-text {
    margin-top: toRem(8);
  }
}
